body {
    font-family: Arial, sans-serif;
    background: #F0ECEC;
    margin: 0;
}

nav {
    padding: 0;
    width: 225px;
    height: 27px;
    margin-top: 5px;
    margin-left: 100px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul:after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    text-decoration: none;
    display: block;
    transition: .2s linear;
}



nav button {
    text-decoration: none;
    display: block;
    transition: .2s linear;
}

.topmenu > li {
    float: left;
    position: relative;
}

.topmenu > li:first-child {
    border-left: 0;
}

    
.topmenu > li > a {  
    padding: 7px 30px;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    border-radius: 5px;
}

.topmenu > li > button {  
    padding: 7px 30px;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    border-radius: 5px;
}

.topmenu .active:hover {
    font-weight: bolder;
    background: #D9D9D9; 
    border-radius: 10px;
}
    
.topmenu > li > a.active, 

.topmenu > li > button.active, 

.topmenu .fa,

.submenu .fa {
    margin-left: 5px;
    /* color: inherit; */
    }

.submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: white;
    left: 5%;
    visibility: hidden;
    opacity: 0; 
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;  
    border: 1px solid #CBCBCC;
    border-radius: 7px;
    }

.submenu li {
    position: relative;
}

.submenu li a {
    color: #282828;
    padding: 10px 20px;
    font-size: 13px;
}

.submenu li button {
    color: #282828;
    padding: 10px 20px;
    font-size: 13px;
}

.submenu .submenu {
    position: absolute;
    left:100%;
    top: -1px;
    transition: .3s linear;
    }

.top > li {
    float: left;
    position: relative;
}
        
.top > li:first-child {
    border-left: 10px;
}
        
        
.top > li > a {  
    padding: 7px 30px;
    margin: 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    border-radius: 5px;
}
        
.top .active:hover {
    font-weight: bolder;
    background: #D9D9D9; 
    border-radius: 10px;
}
        
.top > li > a.active,

#pen_image {
    margin-top: 7px;
    margin-left: 3px;
    position: absolute;
}

#save_image {
    margin-top: 7px;
    margin-left: 3px;
    position: absolute;
}

#rename_image {
    margin-top: 7px;
    margin-left: 3px;
    position: absolute;
}

#dowland_image {
    margin-top: 7px;
    margin-left: 3px;
    position: absolute;
}

#remove_image {
    margin-top: 7px;
    margin-left: 3px;
    position: absolute;
}

#image_image {
    margin-top: 7px;
    margin-left: 3px;
    position: absolute;
}

#drawing_image {
    margin-top: 7px;
    margin-left: 3px;
    position: absolute;
}

#table_image {
    margin-top: 7px;
    margin-left: 3px;
    position: absolute;
}

#character_image {
    margin-top: 7px;
    margin-left: 3px;
    position: absolute;
}

#emoji_image {
    margin-top: 7px;
    margin-left: 3px;
    position: absolute;
}


nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
    }

.name-file_input {
    border-radius: 10px;
    height: 20px;
    width: 220px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 5px;
    font-size: 25px;
    background-color:#f6f5f5;
    border-color: azure;
} 

 #points {
    width: 30px;
    height: 27px;
    margin-bottom: 100px;
    position: absolute;
    right: 50px;
    text-align: center;
    line-height: 27px;
    font-weight: bold;
    border: none;
}


.gdocs-input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    font-family: Arial, sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-top: 100px;
}
  
.gdocs-input-toolbar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}
  
.gdocs-input-toolbar button {
    margin-right: 10px;
    padding: 5px;
    background-color: #f2f2f2;
    border: 5px;
    border-radius: 3px;
    cursor: pointer;
}
  
.gdocs-input-content {
    margin-top: 10px;
    width: 794px;
    height: 1123px;
    border: 5px;
    border-color:#282828;
    border-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-top: 100px;
    max-height: calc(100vh - 200px);
    /* overflow: hidden; */
    overflow-y: auto;
    word-break:break-all;
}
    
.owner-icon {
    background-image: url("image1.jpg");
    width: 50px;
    height: 50px;
    transition: background-image 0.5s ease-in-out;
    border-radius: 100px;
    border: 3px solid rgb(255, 0, 0); 
    box-shadow: 0 0 7px #666; 
    position: absolute;
    right: 100px;
    top: 20px;
}


.image-file {
    border: #000000;
    width: 40px;
    height: 50px;
    position: absolute;
    left: 50px;
    top: 20px;
}

.tools-bar {
    background: #D9D9D9; 
    border-radius: 10px;
    width: 1300px;
    height: 50px;
    position: absolute;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: inline-block;
    clear: both;
    left: 100px
}

.arrow-left_image {
    margin-top: 5px;
    height: 41px;
    width: 41px;
    position: absolute;
    left: 10px;
}

.arrow-right_image {
    margin-top: 5px;
    height: 41px;
    width: 41px;
    transform: rotate(180deg);
    left: 60px;
    position: absolute;

}

.save_image {
    margin-top: 5px;
    height: 41px;
    width: 41px;
    position: absolute;
    left: 110px;
}

#scale_list {
    background-color: #D9D9D9;
    margin-top: 5px;
    height: 41px;
    width: 60px;
    position: absolute;
    left: 170px;
    border-radius: 10px;
    text-align: center;
    border: none;
    font-weight: bold;
}


#typeFont_list {
    background-color: #D9D9D9;
    margin-top: 5px;
    height: 41px;
    width: 100px;
    position: absolute;
    left: 250px;
    border-radius: 10px;
}


#mySelect_input {
    margin-top: 2px;
    height: 41px;
    width: 60px;
    position: absolute;
    left: 400px;
    border-radius: 10px;
    text-align: center;
}

.minus-font_image {
    margin-top: 10px;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 360px;
}

.plus-font_image {
    margin-top: 10px;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 475px;
}

.line-one_image {
    left: 490px;
    position: absolute;
}

.bold_image {
    left: 530px;
    margin-top: 12px;
    position: absolute;
}

.italic_image {
    left: 560px;
    margin-top: 12px;
    position: absolute;
}

.underlined_image {
    left: 600px;
    margin-top: 12px;
    position: absolute;
}

.color-word_image {
    left: 635px;
    margin-top: 5px;
    position: absolute;
}

.background_image {
    left: 680px;
    margin-top: 5px;
    position: absolute;
}

.line-two_image {
    left: 720px;
    position: absolute;
}

.alignment_image {
    left: 755px;
    margin-top: 5px;
    position: absolute;
}

.markers_image {
    left: 810px;
    margin-top: 5px;
    position: absolute;
}

.inter_image {
    left: 860px;
    margin-top: 5px;
    position: absolute;
}

.to-do-list_image {
    left: 910px;
    margin-top: 5px;
    position: absolute;
}

.shift-left_image {
    left: 960px;
    margin-top: 5px;
    position: absolute;
}

.shift-right_image {
    left: 1000px;
    margin-top: 1px;
    position: absolute;
    transform: rotate(180deg);
}


.permission_image {
    left: 1230px;
    margin-top: 5px;
    position: absolute;
    list-style: none;
    z-index: 5;
    transform-origin: 0% 0%;
    transition: .3s linear;  
    border-radius: 7px;
}

details ol {
    float: right;
    margin-right: 22px;
    list-style: none;
    margin-top: 50px;
    border: none;
    background-color: none;
}

summary {
    list-style: none;
}

.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    padding: 20px;    
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(252, 240, 240);
    display: none;
    border-radius: 10px;
}
  
.popup-header {
    background-color: rgb(252, 240, 240);
    padding: 10px;
    position: relative;
}
  
.close_button {
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
}
  
.popup-content {
    background-color: rgb(252, 240, 240);
    padding: 10px;
}
  
  
.popup-header h2 {
    text-align: center;
    margin-top: 0px;
}

.email-user_input {
    width: 200px;
    height: 40px;
    border: 1px #000000;
    border-radius: 5px;
    float: left;
}
 
.active_b li {
    float: left;
}

.submenu input[type="checkbox"]{
    float: right;
    margin-right: 10px;
}


.popup-content input[type="submit"] {
    background: none;
    float: left;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    letter-spacing: 3px;
    font-size: 20px;
    transition: .3s linear;
    margin-top: 100px;
    margin-left: -100px;
}

.popup-content input[type="reset"] {
    background: none;
    float: right;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    letter-spacing: 3px;
    font-size: 20px;
    transition: .3s linear;
    margin-top: 100px;
    margin-right: 100px;
}

.new-form_button {
    background: none;
    float: left;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    letter-spacing: 3px;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 49px;
    margin-left: 5px;
    transition: .3s linear;
}

.drawing_form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    padding: 20px;    
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    display: none;
    border-radius: 10px;
}
  
.drawing-header {
    background-color: white;
    padding: 10px;
    position: relative;
    text-align: center;
}
  
.close-drawing_button {
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
}
  
.drawing-content {
    background-color: white;
    margin: 50px;
}
  
.drawing_button {
    border: none;
    background: none;
}

/*  */
.special-characters_form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    padding: 20px;    
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    display: none;
    border-radius: 10px;
}
  
.character-header {
    background-color: white;
    padding: 10px;
    position: relative;
    text-align: center;
}
  
.close-char_button {
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
}
  
.special-characters {
    background-color: white;
    margin: 50px;
}
  
.character_button {
    border: none;
    background: none;
}

/*  */
.image_form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 200px;
    padding: 20px;    
    border: 1px solid rgb(0, 0, 0);
    display: none;
    border-radius: 10px;
    background-color: rgb(252, 240, 240);
}
  
.image-header {
    background-color: rgb(252, 240, 240);
    padding: 10px;
    position: relative;
    text-align: center;
}
  
.close_button {
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
}
  
.image_button {
    /* position: relative; */
    border: none;
    background: none;
}


.add-file_input {
    border: none;
    background: none;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    transition: .3s linear;
    background-color: rgb(252, 240, 240);
    padding-top: 30px;
    margin-left: 37%;
}

.select_file input[type="file"]{
    border: none;
    background: none;
    font-size: 20px;
    transition: .3s linear;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(252, 240, 240);

}

/*  */

.table_form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 200px;
    padding: 20px;    
    border: 1px solid rgb(0, 0, 0);
    display: none;
    border-radius: 10px;
    background-color: rgb(252, 240, 240);
}
  
.table-header {
    background-color: rgb(252, 240, 240);
    padding: 10px;
    position: relative;
    text-align: center;
}
  
.close_button {
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
}
  
.table_button {
    border: none;
    background: none;
}

table {
    border-collapse: collapse;
    /* table-layout: fixed; */
    width: 500px;
    height: auto;
    /* height: 300px; */
    table-layout: fixed;
    resize: both;
    overflow: auto;
    margin: 10px;
    /* max-width: 100%;
    max-height: 100%; */
}

td, th {
    border: 1px solid black;
    padding: 10px;
}
  
/*  */

.gdocs-input-content img {
    margin: 10px;
}
